{% extends 'base.html.twig' %}

{#------------------------------------------------------------------------------------------------------#}

{% block title %}Paya Thai{% endblock %}

{#------------------------------------------------------------------------------------------------------#}

{% block stylesheets %}
	<link rel="stylesheet" href="templates/Css/Base.css"></link>
{% endblock %}

{#------------------------------------------------------------------------------------------------------#}

{% block body %}

<div class="Basic_Design">
	<h1>{{ controller }}</h1>

<h3>This is the Menu</h3>
</div>

{% endblock %}

{#------------------------------------------------------------------------------------------------------#}
